.App {
  text-align: center;
}

header {
  justify-content: right;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
  
}

header a,
header a:hover,
header a:active,
header a:visited {
  color: white;
  font-size: 0.5em;
  text-align: right;
  padding: 1em;
}


ul, a {
  list-style-type: none;
  line-height: 2;
  text-decoration: none;  
}

img {
  max-width: 400px;
}

form {
  padding: 1em;
  margin: 1em;
}